* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  background-image: url(../img/images.jpeg);
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  height: 100vh;
  color: #555;
}

.wrapper{
  background-color: #EB4D4D;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
}

.player-panel{
  display: flex;
}

.player-panel-0, .player-panel-1{
  width: 50%;
  color: #fff;
  padding: 7.5rem 10rem;
  text-align: center;
  position: relative;
}

.player-name{
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
}

.player-score{
  font-size: 6rem;
  font-weight: 300;  
  color: #222;
  margin-top: 1.25rem;
}

.player-current-box{
  background-color: #222;
  color: #fff;
  width: 55%;
  text-align: center;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 1.2rem;
}

.player-current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #EB4D4D;
}

.player-current-score{
  font-size: 2rem;
}

.active{
  background-color: #222;
}

.active .player-name{
  font-weight: 300;
}

.active .player-score{
  color: #EB4D4D;
}

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: #EB4D4D;
  top: 6.5rem;
  right: 8.5rem;
}

.active .player-current-box{
  background-color: #EB4D4D;
  color: #fff;
}

.active .player-current-label{
  color: #222;
}


button{
  border: none;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: Lato;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 1.25rem; }

button:focus {
  outline: none;
}

.btn-new{
  top: 3rem;
}

.btn-roll{
  top: 30rem;
}

.btn-hold{
  top: 35rem;
}

i{
  color: #EB4D4D;
  display: inline-block;
  margin-right: .75rem;
  font-size: 3rem;
  vertical-align: text-top;
  margin-top: -6px;
}

.dice{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  height: auto;
  top: 18rem;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.final-score{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.75rem;
  width: 15%;
  border-radius: 3px;
  height: 3.25rem;
  border: 1px solid #ccc;
  text-align: center;
  text-transform: uppercase;
}

.final-score:focus{
  outline: none;
}

.winner{
  background-image: linear-gradient(to right bottom, rgba(256,256,256,.3),rgba(0,0,0,.9));
}
.winner .player-name { font-weight: 300; color: #EB4D4D; }